body {
    max-width: 800px;
    background-color: rgb(224, 203, 153);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://i.redd.it/mn7z7ia8qet71.jpg");
    background-position: center;
    background-repeat: no-repeat;

  
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}

p {
    width: fit-content;
}
.debutT{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    width: fit-content;
    padding: 0px 20px 0px 20px;
    margin: 0px 10px 10px 10px;
}

.debut{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    
    padding: 0px 0px 0px 20px;
    margin: 0px 10px 10px 0px;
}

.Margit{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    min-height: 120px;
    padding: 0px 0px 0px 20px;
    margin: 0px 10px 10px 0px;
}

img.float {
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
