body {
    max-width: 800px;
    background-color: rgb(224, 203, 153);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://i.redd.it/mn7z7ia8qet71.jpg");
    background-position: center;
    background-repeat: no-repeat;

  
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    padding-top: 30px;
}

p {
    width: fit-content;
}
#navigation {
    font-weight: bold;
    border-radius: 14px;
    background-color:  rgb(156, 145, 117);
    border: rgb(121, 112, 90)solid 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 5px;
    width: 800px;
}

#navigation a {
    color: #ddd;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.3s;
    font-weight: bold;
}

#navigation a:hover {
    color: #d4af37;
    text-shadow: 0 0 10px #d4af37;
}

#navigation ul {
    /* border: solid 1px blue; */
    width: fit-content;
    padding-left: 0px;
    margin: auto;
}

#navigation li {
    display: inline;
    /* border: solid 1px red; */
    margin-left: 20px;
    margin-right: 20px;
}
.logo{
    border: #d4af37 solid 5px;
    border-radius: 14px;
    margin: 0px 0px 0px 10px;
    width: 300px;
}
.debutT{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    width: fit-content;
    padding: 0px 20px 0px 20px;
    margin: 0px 10px 10px 10px;
}

.debut{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    
    padding: 0px 0px 0px 20px;
    margin: 0px 10px 10px 0px;
}
.temps{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    
    padding: 4px 0px 3px 20px;
    margin: 0px 10px 10px 0px;
}

.auj{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    
    padding: 0px 0px 0px 20px;
    margin: 0px 10px 10px 0px;
}


h1 {
    text-decoration: underline solid;
}

img.portrait {
    margin: 0px 0px 0px 0px;
    width: 150px;
    float: left;
    margin-right: 10px;
}

img.jeux {
    margin: 0px 0px 0px 0px;
    width: 790px;
    margin-right: 0px;
}
.info{
    color: white;
    background-color: rgba(66, 66, 66, 0.7);
    background-blend-mode: darken;
    margin-right: 10px;
}

#particles {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Pour ne pas gêner les clics */
    overflow: hidden;
    z-index: -1; /* Passe derrière le contenu */
}

.particule {
    position: absolute;
    width: 6px;
    height: 6px;
    background: radial-gradient(circle, #ffd700, #d4af37);
    border-radius: 50%;
    opacity: 0.8;
    filter: blur(1px);
    animation: floatDown 4s linear forwards;
}

@keyframes floatDown {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(150px) scale(0.5);
        opacity: 0;
    }
}