body {
    background-color: rgb(224, 203, 153);
    font-family: Arial, Helvetica, sans-serif;
    
}

p {
    width: fit-content;
}

#Logo{
    background-color: rgb(172, 156, 117);
    margin: 10px 10px 10px 10px;
}


.debut{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    padding: 0px 0px 0px 20px;
    margin: 0px 10px 10px 0px;
}

.QuoiT{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    width: fit-content;
    padding: 0px 20px 0px 20px;
    margin: 0px 10px 10px 10px;
}
.Quoi{
    background-color: rgb(179, 170, 147);
    border-radius: 6px;
    border-left: rgb(156, 145, 117)solid 5px;
    padding: 0px 0px 0px 20px;
    margin: 0px 10px 10px 0px;
}
.BossesT{
   background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    width: fit-content;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 10px;
}
.Bosses{
    background-color: rgb(179, 170, 147);
    border-radius: 6px;
    border-left: rgb(156, 145, 117)solid 5px;
    padding: 0px 0px 0px 20px;
    margin: 0px 10px 10px 0px;
}
.FromT{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
    width: fit-content;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 10px;
}
.From{
    background-color: rgb(179, 170, 147);
    border-radius: 6px;
    border-left: rgb(156, 145, 117)solid 5px;
    padding: 0px 0px 0px 20px;
    margin: 0px 10px 10px 0px;
}
.text{
    background-color: rgb(179, 170, 147);
    border-radius: 14px;
    border-left: rgb(156, 145, 117)solid 5px;
} 

h2 {
    text-decoration: underline solid;
}


img{
    border-radius: 9px;
    border-left:rgb(255, 255, 255)solid 4px;
}