
body {
    /* border: solid 1px green; */
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}


h1, h2, p {
     /* border: solid 1px orange; */
} 

#navigation {
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
}

#navigation ul {
    /* border: solid 1px blue; */
    width: fit-content;
    padding-left: 0px;
    margin: auto;
}

#navigation li {
    display: inline;
    /* border: solid 1px red; */
    margin-left: 20px;
    margin-right: 20px;
}

img.centrer{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.float {
    width: 200px;
    float: right;
    margin-right: 10px;
}