body{
    font-family: Arial, Helvetica, sans-serif;
}




h1, h2, h3 {
    color: #8044ff;
}


#bienvenue {
    background-color: rgb(233, 2422, 249);
    border-radius: 10px
}

.important {
    background-color: #c0e4f0c9;
    border-radius: 10px;
    border-left: #a2bdc5c9 solid 5px;
}

p{
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 20px;
    line-height: 25px;
}
/* en haut, en bas, a droite, a gauche */

.important {
    text-decoration: underline solid;
}